<div class="col-lg-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Budgets Recentes</mat-card-title>

      <div class="timeline m-t-24">
        <div
          class="timeline-item d-flex overflow-hidden"
          *ngFor="let budget of budgetsForPath"
        >
          <div class="time text-right mat-subtitle-1 f-s-14">
            {{ budget.dateOfBudget | date: 'dd/MM/yy'}}
          </div>
          <div class="point d-flex align-items-center">
            <span class="timeline-badge border-primary m-y-8"></span>
            <span class="timline-border d-block"></span>
          </div>
          <div class="desc">
            <ng-template [ngIf]="budget.type">
              <span class="mat-subtitle-1 f-s-14 lh-20">Budget {{
                budget.type
              }} Adicionado</span>
            </ng-template>
            <ng-template [ngIf]="budget.value">
              <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block">
                R${{ budget.value }}
              </span>
            </ng-template>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>