<div class="col-lg-12">
    <mat-card class="cardWithShadow" *ngIf="mostrarSemanas; else createWeek">
        <mat-card-header class="headerCard">
            <mat-card-title>Proximas semanas</mat-card-title>
            <button mat-flat-button color="primary" class="shadow-none" (click)="mostrarCriarSemana()">Criar Semana</button>
        </mat-card-header>
        <mat-card-content class="p-24">
            <div class="table-responsive m-t-16">
                <table mat-table [dataSource]="dadosTabela" class="mat-elevation-z8">
                    <!-- Define the columns for your table -->
                    <ng-container matColumnDef="ValorGastoTotal">
                        <th mat-header-cell *matHeaderCellDef>Valor gasto total</th>
                        <td mat-cell *matCellDef="let element">R$ {{ element.totalPrice ?? '0' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="totalKm">
                        <th mat-header-cell *matHeaderCellDef>Km Total</th>
                        <td mat-cell *matCellDef="let element">{{ element.totalKm ?? '0' }} Km</td>
                    </ng-container>
                    <ng-container matColumnDef="budget">
                        <th mat-header-cell *matHeaderCellDef>Budget</th>
                        <td mat-cell *matCellDef="let element">R$ {{ element.totalBudget ?? '0'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="expenses">
                        <th mat-header-cell *matHeaderCellDef>Gastos</th>
                        <td mat-cell *matCellDef="let element">R$ {{ element.totalExpenses ?? '0' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef>Data de Inicio</th>
                        <td mat-cell *matCellDef="let element">{{ element.startDate | date: 'd/M/y'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef>Data de Fim</th>
                        <td mat-cell *matCellDef="let element">{{ element.endDate | date: 'd/M/y' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef>Viajante</th>
                        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
                    </ng-container>
                    <ng-container matColumnDef="current">
                        <th mat-header-cell *matHeaderCellDef>Atual semana</th>
                        <td mat-cell *matCellDef="let element">{{ element.current ? 'Sim' : 'Não' }}</td>
                    </ng-container>
                    
                    <!-- Specify the columns to display in the table -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #createWeek>
    <div class="row-lg-12">
        <mat-card>
            <mat-card-header class="headerCard">
                <mat-card-title>Criar Semana</mat-card-title>
                <button mat-flat-button color="primary" (click)="mostrarCriarSemana()">Ver Semanas</button>
            </mat-card-header>
            <mat-card-content class="p-24">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Data Inícial</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="startDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Data Final</mat-label>
                                <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Viajante</mat-label>
                              <mat-select formControlName="userId">
                                <mat-option *ngFor="let user of usersTravelers" [value]="user.id">
                                  {{user.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="buttonDown">
                    <button mat-flat-button color="primary" (click)="newWeek()">Nova Semana</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>